:host {
	display: block;
}

html,
body {
	height: 100%; 
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0; 
}

img {
	border: none;
	max-width: 100%; 
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0; 
}

h1 {
	flex-grow: 1;
	padding: 0 0 0 20px; 
}

h2 {
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
	color: #3C3C3C;
	text-align: center;
	padding: 20px;
	background: #81c784; 
}

p {
	font-size: 14px;
	padding: 0 0 20px 0; 
}

ul {
	list-style: none; 
}

li {
	line-height: 1.5; 
}

a {
	text-decoration: none;
	color: #3C3C3C;
	font-weight: bold; 
}

button:focus,
input:focus {
	outline: 0;
}
.rotateBy45 {
	transform: rotate(45deg);
	transform-origin: 50% 50%;
	transition: all 0.2s ease; 
}

header {
	background: #519657;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 500;
	width: 100%;
	height: 80px;
	padding: 20px;
	display: flex;
	align-items: center;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5); 
}
header .action-bar {
	display: flex;
	justify-content: space-between;
	min-width: 100px; 
}
header .action-bar div {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40px;
	height: 40px;
	border-radius: 100%;
	background: #3C3C3C;
	color: #519657; 
}
header .search-button svg,
header .open-task-wrapper-button svg {
	width: 16px;
	height: 16px;
	cursor: pointer; 
}
header .search-button svg,
header .open-task-wrapper-button svg {
	fill: #519657; 
}

.logo,
.nav {
	padding: 0; 
}

.logo {
	flex-grow: 1; 
}

.nav {
	display: flex;
	align-items: center;
	justify-content: flex-end; 
}
.nav .btn {
	display: none; 
}
.nav .hamburger {
	display: inline-block;
	cursor: pointer; 
}
.nav .hamburger .bar-1,
.nav .hamburger .bar-2,
.nav .hamburger .bar-3 {
	width: 35px;
	height: 5px;
	background-color: #333;
	margin: 6px 0;
	transition: 0.4s; 
}
.nav .nav-list {
	display: none;
	background: #FFFFFF;
	width: 100%;
	max-width: 991px;
	position: absolute;
	top: 80px;
	right: 0;
	z-index: 10000; 
}
.nav .nav-list ul {
	text-align: left;
	width: 100%; 
}
.nav .nav-list li {
	line-height: 2;
	border-bottom: 1px solid #3C3C3C; 
}
.nav .nav-list li:first-child {
	border-top: 1px solid #3C3C3C; 
}
.nav .nav-list a {
	display: block;
	padding: 10px 30px;
	font-weight: 600; 
}
.nav .nav-list a, .nav .nav-list a:visited {
	color: #3C3C3C; 
}
.nav .nav-list a:hover {
	background: #16EB84;
	color: #FFFFFF;
	border: 0; 
}
.nav .change .bar-1 {
	-webkit-transform: rotate(-45deg) translate(-9px, 6px);
	transform: rotate(-45deg) translate(-9px, 6px); 
}
.nav .change .bar-2 {
	opacity: 0; 
}
.nav .change .bar-3 {
	-webkit-transform: rotate(45deg) translate(-8px, -8px);
	transform: rotate(45deg) translate(-8px, -8px); 
}


footer {
	background: #519657;
	font-size: 12px;
	text-align: center;
	display: flex;
	justify-content: center; 
}
footer .credits {
	width: 94%;
	min-height: 50px;
	padding: 20px; 
}

@media screen and (min-width: 992px) {
	.nav .btn {
		display: inline-block; 
	}
	.nav .nav-list {
		max-width: 480px;
		top: 80px; 
	} 
}
