#new-task-wrapper form {
  display: flex;
  align-items: center;
  justify-content: center;
}
#new-task-wrapper form .task-wrapper {
  min-height: 40px;
  margin: 40px 10px; 
}
#new-task-wrapper form input[type="text"] {
  display: block;
  height: 40px;
  padding: 5px 20px; 
}
#new-task-wrapper form .add-task-button,
#new-task-wrapper form .edit-task-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: 0 20px 0 0;
  border-radius: 100%;
  background: #519657;
  color: #519657;
  border: none;
}
#new-task-wrapper form .add-task-button svg,
#new-task-wrapper form .edit-task-button svg {
  width: 32px;
  height: 32px;
  cursor: pointer;
  fill: #FFFFFF; 
}
#new-task-wrapper form .edit-task-button {
  display: none !important; 
}
#new-task-wrapper.edit .add-task-button {
  display: none; 
}
#new-task-wrapper.add .edit-task-button {
  display: none; 
}
