.overview {
  display: flex;
}
.overview li {
  flex-basis: 50%;
  margin: 20px;
  background: #b2fab4;
  text-align: center;
}
.overview .info {
  font-size: 36px;
}
.overview .info div {
  color: #519657;
}
