.done span h3{
  text-decoration: line-through;
}
li .btn-not-done {
  display: none!important;
}
li.done .btn-done {
  display: none !important;
}
 li.done .btn-not-done {
  display: flex !important;
}

.todo li {
  display: flex;
  margin: 20px;
  padding: 10px;
  border: 1px solid #b2fab4; 
}
.todo li span {
    flex-grow: 1; 
}

.todo .action-bar {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  position: relative; 
}
.todo .action-bar div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    color: #519657;
    margin: 5px 10px; 
}
.todo .action-bar .btn-edit svg,
.todo .action-bar .btn-done svg,
.todo .action-bar .btn-not-done svg {
    width: 24px;
    height: 24px;
    cursor: pointer;
}
.todo .action-bar .btn-edit svg,
.todo .action-bar .btn-done svg {
    fill: #AAA; 
}
.todo .done .action-bar .btn-not-done svg {
    fill: green; 
}
.todo .action-bar .btn-edit:hover svg .fill,
.todo .action-bar .btn-edit:hover svg .check-fill {
    fill: #4dd0e1; 
}
.todo .action-bar .btn-done:hover svg .fill,
.todo .action-bar .btn-done:hover svg .check-fill {
    fill: green; 
}
.todo .done .action-bar .btn-not-done:hover svg .fill,
.todo .done .action-bar .btn-not-done:hover svg .check-fill {
    fill: red; 
}

.todo .action-bar .btn-remove {
    position: absolute;
    width: 25px !important;
    top: -25px;
    right: -25px;
    z-index: 100;
    border-radius: 100%;
    border: 2px solid #AAA;
    background: #FFFFFF;
    height: 25px !important;
    margin: 0;
    padding: 5px; 
}
.todo .action-bar .btn-remove svg {
    width: 16px;
    height: 16px;
    cursor: pointer; 
}
.todo .action-bar .btn-remove svg.fill {
    fill: #AAA; 
}
.todo .action-bar .btn-remove:hover {
    background: #FFFFFF;
    border: 2px solid #eb6c4e; 
}
.todo .action-bar .btn-remove:hover svg.fill {
    background: #FFFFFF;
    fill: #eb6c4e; 
}

.todo#completed:empty:after {
  content: 'You have no items completed.'; 
}

.todo#completed .complete svg {
  width: 24px;
  height: 24px;
  cursor: pointer;
  fill: green; 
}

.todo#completed .complete:hover svg .fill,
.todo#completed .complete:hover svg .check-fill {
  fill: #AAA; 
}

.todo#todo:empty:after {
  content: 'You have no items to do.'; 
}

.todo#todo .action-bar .edit, .todo#completed .action-bar .edit {
  display: none; 
}

.todo#todo:empty:after, .todo#completed:empty:after {
  content: 'You have no items to do.'; 
}

.todo#todo:after, .todo#completed:after {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 12px;
  color: #aaa; 
}